## FRIGG CORE VARIABLES
WEBSOCKET_API_ENDPOINT=http://localhost:3002

#AES_KEY_ID=local-dev-key
#AES_KEY=
#REDIRECT_URI=CUSTOM REDIRECT URL/api/asana-integration/auth/redirect
REDIRECT_PATH=/api/asana-integration/auth/redirect
MONGO_URI=mongodb://root:rootpassword@localhost:27017?retryWrites=true&w=majority
#BASE_URL=CUSTOM BASE URL


ASANA_CLIENT_ID=
ASANA_CLIENT_SECRET=
ASANA_SCOPE=default openid
SKIP_ASANA_SIGNATURE_VALIDATION=false

FRONTIFY_CLIENT_ID=
FRONTIFY_SCOPE="basic:read basic:write finder:read account:read webhook:read webhook:write"
HEALTH_API_KEY=



